@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;


html {
    font-size: .625em; /* fallback IE8+ */
    font-size: calc(1em * .625); /* IE9-IE11 math fixing. See http://bit.ly/1g4X0bX */
}

body {
    /* background-color: rgb(230, 244, 245); */
    background-image: linear-gradient(#0E2D5B, #031925);
    font-size: 1.6rem;
    height: 100vh;
    color: #fafafa;
}

.main {
    margin: 0 auto;
    width: fit-content;
}

.active {
    display: inline-flex;
}

.inactive {
    display: none;
}

