@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

:root {
    --karla-extra-Light: url('./Font/Karla/Karla-ExtraLight.woff');
    --karla-light: url('./Font/Karla/Karla-Light.woff');
    --karla-medium: url('./Font/Karla/Karla-Medium.woff');
    --karla-regular: url('./Font/Karla/Karla-Regular.woff');
    --karla-semi-bold: url('./Font/Karla/Karla-SemiBold.woff');
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: .625em;
    font-size: calc(1em * .625);
}

body {
    background-image: linear-gradient(#103f86, #041118);
    font-size: 1.6rem;
    min-height: 100vh;
    color: #fafafa;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

/* **************************************************************************** */
/* **************************************************************************** */


@font-face {
    font-family: 'Kavoon';
    src: url('./Font/Kavoon/Kavoon-Regular.woff');
    font-weight: 400;
}

@font-face {
    font-family: 'Karla-Light';
    src: url('./Font/Karla/Karla-Light.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Karla-Medium';
    src: url('./Font/Karla/Karla-Medium.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Karla-SemiBold';
    src: url('./Font/Karla/Karla-SemiBold.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RussoOne';
    src: url('./Font/Russo-One/RussoOne-Regular.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Vina';
    src: url('./Font/Vina-Sans/VinaSans-Regular.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair-Display-Black';
    src: url('./Font/Playfair_Display/PlayfairDisplay-Black.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Questrial';
    src: url('./Font/Questrial/Questrial-Regular.woff');
    font-weight: normal;
    font-style: normal;
}

.font-kav {
    font-family: Kavoon, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.font-karla-light {
    font-family: Karla-Light, Haettenschweiler, Helvetica;
}

.font-karla-medium {
    font-family: Karla-Medium, Haettenschweiler, Helvetica;
}

.font-karla-semibold {
    font-family: Karla-SemiBold, Haettenschweiler, Helvetica;
}

.font-russoOne {
    font-family: RussoOne;
}

.font-vina {
    font-family: Vina;
}

.font-playfair-black {
    font-family: Playfair-Display-Black, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.font-questrial {
    font-family: Questrial, Haettenschweiler, Helvetica;
}

/* **************************************************************************** */
/* **************************************************************************** */




input::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input {
    appearance: none;
    -moz-appearance: textfield;
    width: fit-content;
    max-width: 26rem;
}

.active {
    display: inline-flex;
}

.inactive {
    display: none;
}

.burger-menu {
    padding: 1rem;
    border-radius: 50%;
    background-color: none;
}


.slideIn {
    animation: slideIn 100ms ease-in-out;
}

@keyframes slideIn {

    from {
        transform: translateX(20rem);
    }

    to {
        transform: translateX(0);
    }
    
}

.slideOut {
    animation: slideOut 100ms ease-in-out;
}

@keyframes slideOut {

    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(20rem);
    }
    
}

.transitionUp {
    animation: transitionUp 550ms ease-out; 
}

@keyframes transitionUp {
    from {
        opacity: 0;
        transform: translateY(-10%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.transitionUpStrong {
    animation: transitionUpStrong 600ms ease-out; 
}

@keyframes transitionUpStrong {
    from {
        opacity: 0;
        transform: translateY(-50%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.transitionLeft {
    animation: transitionLeft 600ms ease-out;
}

@keyframes transitionLeft {
    from {
        opacity: 0;
        transform: translateX(-25%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.transitionRight {
    animation: transitionRight 600ms ease-out;
}

@keyframes transitionRight {
    from {
        opacity: 0;
        transform: translateX(25%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}